# all Magento files
/.htaccess
/api.php
/app/
/cron.php
/cron.sh
/downloader/
/errors/
/errors/.htaccess
/favicon.ico
/get.php
/includes/
/index.php
/install.php
/LICENSE.html
/js/
/lib/
/mage
/media/
/pkginfo/
/shell/
/skin/
/var/
# Remove all entries below or add required ones above